body {
    font-family: "Space Grotesk", sans-serif;
}

#n1 {
    background: ghostwhite;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}





.jumbotron {
    background-color: rgb(223, 227, 250);
}

.navbar .nav-link:hover {
    color: #dbd7ff;
}

img {
    width: 50px;
}


.container {
    padding: 40px 20px;
    width: 400px;
    background: linear-gradient(to right, rgb(227, 228, 255), rgb(209, 211, 249), rgb(161, 166, 255));
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 600px;
}


.bannertext {
  height: 100vh; 
  background-image: url('purplesilver.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  color: white;
  height: 300px;
}

.card .col-md-4 {
  height: 100%;      
}

.card img {
width: 100%;
height: auto;
max-height: 300px; 
object-fit: cover;    
border-radius: 5px;   }

.card-text {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.card {
  margin-top: 30px;
  margin-left: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 300px;
  transition: all 0.3s ease;
}







.card:hover {
  transform: translateY(-8px) translateX(-5px); 
  background-color: rgb(224, 226, 255) !important; 
  box-shadow: 0 10px 20px rgba(206, 132, 255, 0.76); 
}