body {
    font-family: "Space Grotesk", sans-serif;
}

#n1 {
    background: ghostwhite;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}



.navbar .nav-link:hover {
    color: #dbd7ff;
}

img {
    width: 50px;
}




.bannertext {
    background-image: url('purplesilver.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 300px;
}

#resume1 {
    width: 948px;
    border: 10px solid;
    border-color: #dbd7ff;
}
#resume2 {
    width: 949px;
    border: 10px solid;
    border-color: #dbd7ff;
}

.res {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}
