body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #dbd7ff;
    margin: 0;
}

#n1 {
    background: rgb(217, 217, 255);
    padding: 20px 0;
    font-size: 20px;
}

.jumbotron {
    background-color: rgb(223, 227, 250);
}

.navbar .nav-link:hover {
    color: #dbd7ff;
}

img {
    width: 50px;
}

.container1 {
    padding: 40px 20px;
    width: 400px;
    background: linear-gradient(to right, rgb(227, 228, 255), rgb(209, 211, 249), rgb(161, 166, 255));
    border-radius: 5px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-section {
    display: flex;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.card-img-top {
    height: 250px;
}