body {
    font-family: "Space Grotesk", sans-serif;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: linear-gradient(to right, rgb(227, 228, 255), rgb(209, 211, 249), rgb(161, 166, 255));
    
}

.jumbotron {
    background-color: rgb(223, 227, 250);
}

.navbar .nav-link:hover {
    color: #dbd7ff;
}